<!DOCTYPE html>
<html>
<head>
    <title>MMUeBus</title>
    <style>body { font-family: sans-serif; padding: 20px; }</style>
</head>
<body>
    <nav>
        <a href="/">Home</a> |
        {% if user.is_authenticated %}
            Logged in as: <b>{{ user.username }} ({{ user.role }})</b>
            {% else %}
            <a href="{% url 'login' %}">Login</a>
        {% endif %}
    </nav>
    <hr>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% block content %}
    {% endblock %}
</body>
</html>
